body{
    width:100%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.bdtm{
    width: 140px;
    height: 3px;
    background: red;
    float: left;
    margin: 10px;
}

nav{
    position: relative;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}
.logo{
    grid-area: logo;
}
nav ul{
    margin:0px;
    position: relative;
    right: 0px;
    top: -5px;
    left:0px !important;
    grid-area: ul;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    float: right;
}
/* nav ul{
    float: right;
    position: relative;
    top: 0;

    right: 0;
    left: 200px;
    bottom: 10px;
    margin: 9px;

} */
nav li{
    list-style: none;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}
nav li .active{
    border-bottom: 3px solid #fff;
    font-size: 19px;
    margin-top: 30px;
}
nav li a:hover{
    color: lightgrey;
    text-decoration: none;
    border-bottom: 2px solid #fff;
   
}
nav .logo{
    margin: 10px;
}

nav h3  {
    color: #fff;
}

nav .form-inline{
    grid-area: form-inline;
    position: relative;
    right: 0px;
    left: 0px;
    display: flex;
    flex-wrap: nowrap;
}
.nav .form-inline input[type="text"]{
    width: 250px;
    margin: 0px;
}
.nav .form-inline .btn-success{
    width: 250px;
    margin: 0px;
}
.mysidebar{
    visibility: hidden;
    height: 0px;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: .10s ease-in-out;
    color: #000;
}
.mysidebar ul{
    position: absolute;
    top: 30px;
    right: 0;
    left: -30px;
    bottom: 10px;
    margin: 20px 0px 10px 10px;
    float: left;
    
}
.mysidebar li{
    list-style: none;
    display: block;
    color: #000;
    padding: 12px;
}
.mysidebar li a{
    color: #000;
    font-weight:600;
    font-family: arial;
}
.mysidebar a:hover{
    border-bottom: 2px solid #000;
}
.mysidebar input[type="text"]{
    float: left;
    width: 320px;
    padding:4px;
    margin: 10px 4px 0px 22px;
}
.mysidebar #close{
    float: right;
    margin-left: -40px;
    font-size: 30px;
    padding: 6px;
    font-family:forte;
    font-weight: 500;
    color: rgb(231, 14, 104);
    cursor: pointer;
}
.mysidebar .btn-success{
    float: left;
    margin:10px 1px 10px 10px;
}


.burger{
    float: right;
    position: relative;
    top:0;
    right: 0px;
    visibility: hidden;
    cursor: pointer;
}
.burger div{
    width: 20px;
    height: 4px;
    background:#fff;
    margin: 3px;
}

/* HEADER  */

.jumbotron{
    background: url(images/musicbadge.jpg);
    background-size: cover;
    background-position:center;
    height: 589px;
    position: relative;
    top: 0;
    color: #fff;
    border-radius: 0;
    overflow: hidden;
    
}
.overlay{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    display: table;
}

.overlay .animate-cont{
    animation: slide .60s forwards;
    transition: 90s;
}
@keyframes slide{
    0%{
        transform: translateX(0px);
        top: 0px;
        transition: 50s;
        opacity: 0;
    }
    100%{
        transform: translateX(65px);
        top: 80px;
        transition: 50s;
        opacity: 1;
    }
}

.overlay{
    margin: auto;
    
}
.logo-col  {
    color: rgb(231, 14, 104);
}

.overlay .animate-cont h1{
    text-align: center;
    padding: 12px;
    margin-top: 50px;
    color: #fff;
}

.overlay .animate-cont p{
    text-align: center;
    padding: 15px;
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    color: #fff;
}
.overlay .btn-primary{
    border-radius: 20px;
    width: 150px;
    height: 45px;
    margin-left: 29%;
    margin-top: 70px;
  
}

.overlay .btn-danger{
    border-radius: 20px;
    width: 150px;
    height: 45px;
    margin-left: 15%;
    background-color: rgb(7, 7, 7);
    border: 3px solid rgb(231, 14, 104);
    margin-top: 60px;

}


/* section of blog-post */

.blog-contaner{
    width: 100%;
    height: auto;
    margin:10px 0px 10px 0px;
    box-shadow: 0px 0px 5px grey;
    padding: 5px;
    overflow: hidden;
}
.blog-post {
    width: 100%;
    height:90vh;
    padding: 10px;
    position: relative;
    top:0;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow: hidden;
    margin: 0px !important;


}

.blog-post .comment{
    float: right;
}
.blog-contaner .blog-img{
    position: relative;
    background-size: cover;
    background-position: center;
    background:url(images/crew.png);
    height: 500px;
    width: 100%;
    left: 0;
    right:0;
    bottom: 0;
    background-repeat: no-repeat;
    overflow-y: hidden;
}
.blog-contaner .blog-img2{
    position: relative;
    background-size: cover;
    background-position: center;
    background:url(images/discussion.png);
    height:450px;
    width: 100%;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-repeat: no-repeat;
    overflow-y: hidden;
}
.blog-contaner .blog-img .blog-cont-overlay{
    width: 100%;
    height: 100vh;
    text-align: center;
    width: 100%;
    height:auto ;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items:justify;
    justify-content: space-evenly;
    color: #fff;
    transition: .10s ease;
    visibility: hidden;
}
.blog-post .blog-img2 .blog-cont-overlay{
    width: 100%;
    height: 100vh;
    text-align: center;
    background: rgba(0,0,0,.5);
    position: absolute;
    right: 0px;
    left: 0;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items:justify;
    justify-content: space-evenly;
    color: #fff;
    transition: .10s ease;
    visibility: hidden;
}
.blog-img:hover .blog-cont-overlay{
    visibility: visible;
}
.blog-img2:hover .blog-cont-overlay{
    visibility: visible;
}

.blog-post .blog-cont-overlay h2{
    margin-top: -150px;
}
.blog-contaner .blog-content{
    position: absolute;
    height: 50px;
    bottom: 70px;
    left: 10px;
    right:20px;
    margin:10px 0px 10px 0px;
    padding: 10px;
}
.blog-post .blog-content p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* sidebar section LASTEST BLOG */
.latest-blog .popular-post{
    margin-top: 40px;
    height: auto;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 12px;
}

.popular-post ul{
    border-radius: 0px;
}

/* footer style */

footer{
    background: rgb(143, 129, 129);
    color: #fff;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:12px;
    font-weight:0;
    height: 100px;
    
}

footer .content h6{
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}



/* MODAL FORM */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:300px;
    top: 50px;
    width: 46%;
    height: 490px;
    overflow:hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
    margin:auto !important;
  }
  .modal-content .imgcontainer h6{
      text-align: center;
  }
  .btnaud{
      width:70px;
      height: 70px;
      border-radius: 50%;
      margin-top: -160px;
        margin-left:90px;
     
    }
    .btn-controls{
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        margin-left:30px;
    }
audio{
    width: 200px;
    /* margin: auto; */
    margin-top: -10px;
    margin-left: 50px;
    margin-bottom: 30px;
}
  #aud{
      visibility: hidden;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 49%;
    height: auto;
  }
  .modal-content .btn{
      margin:20px;
  }
  /* The Close Button */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  .avatar{
      width: 100px;
      height: 100px;
      border-radius:50%;
      margin: 10px 10px 10px 100px;
  }
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

.adds-box{
    width:100%;
    height: 600px;
    margin-top: 20px;
    box-shadow:0px 0px 3px grey;
    overflow: hidden;
}
.adds-box h5{
    padding: 10px;
    margin: 12px;
}
.adds iframe{
    width: 100%;
    height: 600px;
}





/* STYLING THE SONG PAGE */

.song-bg{
    background: url(images/dj.png);
    height: 400px;
    background-size: cover;
    background-position: center;
}
.song-bg .song-ovl{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    display: table;
}
.animate-cont{
    margin-top: -20px;
}
.song-ovl .btn-danger{
    margin-left: 580px;
}

.song-ovl .animate-cont{
    animation: slide .60s forwards;
    transition: 90s;
}
@keyframes slide{
    0%{
        transform: translateX(0px);
        top: 0px;
        transition: 50s;
        opacity: 0;
    }
    100%{
        transform: translateX(65px);
        top: 80px;
        transition: 50s;
        opacity: 1;
    }
}

/* ACCORDION OF MUSICS */
.music-container{
    margin: 10px;
}
.music-container h3{
    font-size: 15px;
    margin-left: 10px;
}
.music-albums .music-container .music-content .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height:50px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: 12px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0px 0px 3px grey;
  }

.accordion:hover {
    background-color: grey;
  }
  .accordion::after{
    content:"+";
    font-size:20px;
    margin-left:40em;
    position:relative;
    right:0px;
    bottom:30px;
    top:-19px;
    font-size: 20px;
    font-weight: 900;
   }
  .panel {
    padding: 0 18px;
    width:100%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-top: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title audio "
    ;
    box-shadow: 0 0 3px grey;
    margin-left: 12px;
}
.panel audio{
    width:400px;
    border-radius: none;
    margin: 5px;
    height: 30px;
}
audio:focus{
    outline-style: none;
    outline: none;
}
.panel .audio-file{
    grid-area: audio;
    margin: 10px;
}
.panel .music-title{
    grid-area: title;
    margin: 10px;
    font-weight: 400;
}

/* NEWSLETTER */
.aside .content form {
    border: 4px solid #f1f1f1;
    margin:10px;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
}







/* STYLING TOP-ARTIST  */

.top-artist-bg{
    background: url(images/chichi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
}

.top-artist{
    margin: 10px;
}
.top-artist .top-heading{
    margin:0px auto;
    text-align: center;

}
.top-heading .bdtm{
    margin-left:45%;
}
.artist-cont{
    display: flex;
    flex-shrink: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: auto;
    height: 250px;
    width: 100%;

}
.artist-cont .box-A, .box-B, .box-C, .box-D, .box-E, .box-F, .box-G{
    width: 200px;
    height: 200px;
    background: url(images/chichi.jpg);
    background-size:cover;
    background-position: center;
    margin: 10px;
}




@media(max-width:600px){
    body{
        background: #fff;
    }
    .mysidebar{
        visibility: visible;
        
    }
    .mysidebar ul{
        position: absolute;
        top: 30px;
        right: 0;
        left: -30px;
        bottom: 10px;
        margin: 20px 0px 10px 10px;
        float: left;
        
    }
    .mysidebar ul{
        display: block;
        margin-top: 60px;
    }
    #close{
        float: right;
        position:relative;
        right: 10px;
    }
    .mysidebar .form-inline{
        display: block;
    }
    
    /* .form-inline{
        display: none;
    } */
    nav ul{
        display:none;
    }
    nav .form-inline{
        display:none;
    }
    .burger{
        visibility: visible;
    }

    .overlay h1{
        text-align: center;
        padding: 12px;
        margin-left: 70px;
        width: 50%;
    }
    
    .overlay .animate-cont p{
        text-align: center;
        color: #fff;
        padding: 5px;
        display: inline-block;
        width: 100%;
        margin-left: -60px;
        /* display: flex;
        flex-direction: row;
        flex-wrap: nowrap; */
    }

    .overlay .btn-primary{
        border-radius: 20px;
        width: 150px;
        height: 45px;
        margin-left: 15%;
        margin-top: 10px;
    }
    
    .overlay .btn-container{
        margin-left: -80px;
    }
    .overlay .btn-danger{
        border-radius: 20px;
        width: 150px;
        height: 45px;
        margin-left: 15%;
        margin-top: 10px;
        background-color: rgb(7, 7, 7);
        border: 3px solid rgb(231, 14, 104);
    }
    .modal-content{
        width: 250px;
        height: 350px;
        margin-left: 30px;
    }
    .modal{
        width:300px;
        margin-left:-190px !important;
        margin-right: 580px;
    }
    .avatar{
        width: 60px;
        height: 60px;
    }
    audio{
        width: 150px;
        margin: inherit;
        

    }
}


















































